{% extends 'base.html.twig' %}

{% block title %}Produc index{% endblock %}

{% block body %}
    <h1>Produc index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Descp</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produc in producs %}
            <tr>
                <td>{{ produc.id }}</td>
                <td>{{ produc.name }}</td>
                <td>{{ produc.descp }}</td>
                <td>
                    <a href="{{ path('produc_show', {'id': produc.id}) }}">show</a>
                    <a href="{{ path('produc_edit', {'id': produc.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('produc_new') }}">Create new</a>
{% endblock %}
